body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#react-entry {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  /*background-color: #000;*/
}

.sprite {
  position: absolute;
}